.overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.tituloDialogo {
  color: white;
  font-weight: bold;
  background-color: black;
  font-size: 28px;
  padding: 1mm;
  border-radius: 10px;
}

/* Modal Content/Box */
.contenidoDialgo {
  background-color: #FFCC00;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* The Close Button */
.botonCerrar {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: black;
}

.botonCerrar:hover,
.botonCerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
